{% extends 'base.html.twig' %}



{% block body %}
    <h1>Gestion catégories</h1>

    <a href="{{ path('app_admin_category_edit') }}" class="btn btn-outline-primary mb-3">
        Ajouter une catégorie
    </a>

    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th width="250px"></th>
        </tr>
        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>
                <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}" class="btn btn-primary">
                    Modifier
                </a>
                <a href="{{ path('app_admin_category_delete', {'id': category.id}) }}" class="btn btn-danger">
                    Supprimer
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
